@model List<clashclash.Models.CardModel>
<link rel="stylesheet" href="../wwwroot/css/site.css">
<h2>Cartas :) </h2>

<a href="/Card"> Cartas Teste </a>

<div class="Title">
    <h1>Clashdle</h1>
    <h2>Guess the character from the hit game Clash Royale </h2>
</div>
<div class="BtnDiv">
    <button type="button" onclick="window.location.href='test.html'" id="ButtonDaily">Daily</button>
    <button type="button" onclick="window.location.href='test.html'" id="ButtonUnlimited">Unlimited</button>
</div>

