html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}




@import url('https://fonts.googleapis.com/css2?Roboto&display=swap');

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: wheat;
    text-shadow: 10px 10px 10px black;
    filter: blur(0.2px);
    animation: show 2s linear;
    transition: all 200ms linear;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: wheat;
    text-shadow: 10px 10px 10px black;
    filter: blur(0.2px);
    animation: show 2s linear;
    transition: all 200ms linear;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BtnDiv {
    height: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    flex-direction: row;
}

#ButtonDaily {
    cursor: pointer;
    border: solid rgb(0, 0, 0);
    font-family: "system-ui";
    font-size: 17px;
    color: rgb(255, 255, 255);
    padding: 28px 30px;
    transition: 2s;
    width: 150px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(0, 102, 204);
    --hover-borderSize: 0px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 50px;
}

    #ButtonDaily:hover {
        color: rgb(255, 255, 255);
        background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
        border-color: rgb(204, 0, 105);
        border-width: 0px;
        border-style: solid;
    }

#ButtonUnlimited {
    cursor: pointer;
    border: solid rgb(0, 0, 0);
    font-family: "system-ui";
    font-size: 17px;
    color: rgb(255, 255, 255);
    padding: 28px 30px;
    transition: 2s;
    width: 150px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: rgb(0, 102, 204);
    --hover-borderSize: 0px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 50px;
}

    #ButtonUnlimited:hover {
        color: rgb(255, 255, 255);
        background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
        border-color: rgb(204, 0, 105);
        border-width: 0px;
        border-style: solid;
    }

    body{
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
          font-weight: 300;
        }
    .css-slideshow{
          position: absolute;
          height: 100vh;
          width: 100vw;
          top: 0;
          left: 0;

        }
   .slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -100000;
   }
        
        .css-slideshow-attr{
          text-align: right;
          font-size: .7em;
          font-style: italic;
          margin:0 auto;
        }
        .css-slideshow-attr a{
          color: #666;
        }
        .css-slideshow figure{
          opacity:0;
        }
        figure:nth-child(1) {
          animation: xfade 48s 21s infinite;
        }
        figure:nth-child(2) {
          animation: xfade 48s 18s infinite;
        }
        figure:nth-child(3) {
          animation: xfade 48s 15s infinite;
        }
        figure:nth-child(4) {
          animation: xfade 48s 12s infinite;
        }
        figure:nth-child(5) {
          animation: xfade 48s 9s infinite;
        }
        figure:nth-child(6) {
          animation: xfade 48s 6s infinite;
        }
        figure:nth-child(7) {
          animation: xfade 48s 3s infinite;
        }
        figure:nth-child(8) {
          animation: xfade 48s 0s infinite;
        }
        
        @keyframes xfade{
          0%{
            opacity: 1;
          }
          10.5% {
            opacity: 1;
          }
          12.5%{
            opacity: 0;
          }
          98% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
